/*variables tipografias HERO*//*variables tipografias SECTION*//*variables tipografias BUTTON*//*variables tipografias REASON*//*variables tipografias MENU*//*variables tipografias FOOTER*/#footer {
  width: 100%;
  height: auto;
  background-color: #304268;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.layer {
  margin-top: 38px;
  margin-bottom: 0px;
}

.components {
  margin: 0px;
  margin-bottom: 30px;
}

#hero {
  width: 100%;
  height: 100%;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-title-mobile {
  width: 290px;
  height: 110px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
}

.hero-summary-mobile {
  width: 290px;
  height: 21px;
  color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
}

.burguer {
  position: absolute;
  top: 0;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
}

.burguer-ico {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 14px;
}

.button-scroll-down {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
  margin-top: 45px;
  margin-bottom: 53px;
  border-style: none;
  border-color: inherit;
}

.button-ico-down {
  display: block;
  margin: auto;
}

.button-section {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 45px;
  background-color: #ffffff !important;
}

.button-text {
  color: #f26002;
  text-decoration: none;
}

.button-section-reason {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  margin-top: 45px;
  border-style: none;
  border-color: inherit;
}

.button-text-reason {
  color: #ffffff;
  margin: 0px;
}

.button-scroll-up {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
  margin-top: 38px;
  border-style: none;
  border-color: inherit;
  position: relative;
  bottom: -20px;
}

.button-ico-up {
  display: block;
  margin: auto;
}

#card-section {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.title-section-category {
  width: 90px;
  height: 30px;
  color: #8ccbea;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.section-title {
  width: 290px;
  height: 60px;
  color: #000000;
  margin: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.section-description {
  width: 290px;
  height: 120px;
  color: #4a4a4a;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
}

#card-section-list {
  width: 100%;
  height: auto;
  background-color: #e2f1f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-title-reason {
  color: #000000;
  margin-left: 15px;
  margin-right: 15px;
}

.card-reason-list {
  margin: 0px;
  padding: 0px;
}

.reason-item {
  list-style: none;
  margin-left: 68px;
  margin-right: 68px;
  margin-top: 45px;
}

.reason-title-mobile {
  width: 184px;
  height: 30px;
  color: #000000;
  margin: 0px;
}

.reason-description {
  width: 180px;
  height: 63px;
  color: #000000;
  margin: 0px;
}/*CLASES DE AYUDA*/.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.hero-title-mobile {
  font-family: "Roboto Slab", sans-serif;
  font-size: 42px;
  line-height: 1.31;
  font-weight: 700;
  color: #ffffff;
}

.hero-summary-mobile {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.title-section-category {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  color: #8ccbea;
}

.section-title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
}

.section-description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4a4a4a;
}

.reason-title-mobile {
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  color: #000000;
}

.section-title-reason {
  font-family: "Roboto Slab", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
}

.reason-description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #000000;
}

.button-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  color: #f26002;
}

.button-text-reason {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  color: #ffffff;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  color: #ffffff;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.margin-xs {
  margin: 15px;
}

.margin-top-xs {
  margin: 30px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,html {
  height: 100%;
  margin: 0px;
}

@media (min-width: 1024px) {
  .hide-lg {
    display: none;
  }
}

@media (max-width: 1023px) {
  .hide-sm {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
