/*variables tipografias HERO*//*variables tipografias SECTION*//*variables tipografias BUTTON*//*variables tipografias REASON*//*variables tipografias MENU*//*variables tipografias FOOTER*/.footer {
  width: 100%;
  height: 128px;
  background-color: #304268;
}

.layer {
  width: 77px;
  height: 30px;
}

.components {
  width: 290px;
  height: 30px;
}

.hero {
  width: 100%;
  height: 100%;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-title-mobile {
  width: 290px;
  height: 110px;
}

.hero-summary-mobile {
  width: 290px;
  height: 21px;
  color: #ffffff;
}

.burguer {
  position: absolute;
  top: 0;
}

.burguer-ico {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
}

.card-section {
  width: 320px;
  height: 376px;
  background-color: #ffffff;
}

.title-section-category {
  width: 90px;
  height: 30px;
  color: #8ccbea;
}

.section-title {
  width: 290px;
  height: 60px;
  color: #000000;
}

.section-description {
  width: 290px;
  height: 120px;
  color: #4a4a4a;
}

.card-reason {
  width: 320px;
  height: 624px;
  background-color: #e2f1f9;
}

.reason-item {
  width: 184px;
  height: 93px;
  list-style: none;
}

.reason-title-mobile {
  width: 184px;
  height: 30px;
  color: #000000;
}

.reason-description {
  width: 180px;
  height: 63px;
  color: #000000;
}

.button-scroll {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #ffffff;
}

.button-ico-down {
  width: 20px;
  height: 11.7px;
}

.button-ico-up {
  width: 20.6px;
  height: 24px;
}

.button-section {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
}

.button-text {
  width: 25px;
  height: 45px;
  color: #f26002;
}

.button-section-reason {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
}

.button-text-reason {
  width: 133px;
  height: 45px;
  color: #ffffff;
}/*CLASES DE AYUDA*/.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.hero-title-mobile {
  font-family: "Roboto Slab", sans-serif;
  font-size: 42px;
  line-height: 1.31;
  font-weight: 700;
  color: #ffffff;
}

.hero-summary-mobile {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.title-section-category {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  color: #8ccbea;
}

.section-title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
}

.section-description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

.reason-title-mobile {
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  color: #000000;
}

.reason-description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #000000;
}

.button-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  color: #f26002;
}

.button-text-reason {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  color: #ffffff;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.14;
  color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,html {
  height: 100%;
  margin: 0px;
}

/*# sourceMappingURL=main.css.map */
