@import 'core/variables';
@import 'core/helpers';
@import 'layout/footer';
@import 'layout/grid';
@import 'components/buttons';
@import 'components/hero';
@import 'components/burguer';
@import 'components/card';
@import 'components/typography';



* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0px;
}
