#footer {
  width: 100%;
  height: auto;
  background-color: $color-dark-midtone;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layer {
  margin-top: 38px;
  margin-bottom: 0px;
}

.components {
  margin: 0px;
  margin-bottom: 30px;
}
