.burguer {
  position: absolute;
  top: 0;
  width: 44px;
  height: 44px;
  background-color: $color-midtone;
  padding:0;
}

.burguer-ico {
  display:block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 14px;
}

.menu {
  // width: 70%;
  height: 100%;
  background-color: $color-primary;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuLateral {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 116%;
  background-color: transparent;
  transition: transform ease-in-out 5s;
}

.animation-menu {
  transform: translate3d(500px, 0,0);
}


.menu-item {
  height: 44px;
  border-bottom: 1px solid $color-light;
}

.menu-item-text {
  width: 100%;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 10px;
}

.position-close {
  right: -44px;
  background-color: $color-info;
}
