.button-scroll-down {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-primary;
  margin-top: 45px;
  margin-bottom: 53px;
}

.button-ico-down {
  display:block;
  margin: auto;
}

.button-section {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px $color-info;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 45px;
  background-color: $color-primary!important;
}

.button-text {
  color: $color-info;
  text-decoration:none;
}

.button-section-reason {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-info;
  margin-top: 45px;
}

.button-text-reason {
  color: $color-primary;
  margin: 0px;
  text-decoration:none;
}

.button-scroll-up {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-primary;
  margin-top: 38px;
  position: relative;
  bottom: -20px;
}

.button-ico-up {
  display:block;
  margin: auto;
}

.no-style-button {
  border-style:none;
  border-color:inherit;
}
