.Rectangle-3 {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-primary;
}

.ico-scroll-down {
  width: 20px;
  height: 11.7px;
}

.Rectangle-Middle-Card {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px $color-info;
}

.Go {
  width: 25px;
  height: 45px;
  color: $color-info;
}
