#card-section {
  width: 100%;
  height: auto;
  background-color: $color-primary;

  }


.title-section-category {
  color: $color-light-midtone;
  margin: 30px 15px 0 15px;
  @media all and (min-width: 768px) {
  margin: 30px 39px 0 39px;
  }
  @media all and (min-width: 1280px) {
  margin: 60px 645px 0 275px;
}
}


.section-title {
  margin: 0 15px;
  @media all and (min-width: 768px) {
  margin: 0 39px;
  }
  @media all and (min-width: 1280px) {
  margin: 0 275px;
}
}

.section-description {
  color: $color-tertiary;
  margin: 15px 15px 0 15px;
  @media all and (min-width: 768px) {
  margin: 30px 39px;
  }
  @media all and (min-width: 1280px) {
  margin: 30px 275px;
}
}

#card-section-list {
  width: 100%;
  background-color: $color-light;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title-reason {
  color: $color-secondary;
  margin: 30px 15px 0 15px;
  @media all and (min-width: 768px) {
  margin: 30px 160px 0 160px;
  }
  @media all and (min-width: 1280px) {
  margin: 60px 275px 0 275px;
}
}


.card-reason-list {
  margin: 0px;
  padding: 0px;
}

.reason-item {
  list-style: none;
  margin: 45px 68px 0 68px;
//   @media all and (min-width: 768px) {
//   margin: 30px 160px 0 160px;
//   }
//   @media all and (min-width: 1280px) {
//   margin: 60px 275px 0 275px;
// }

}

.reason-title-mobile {
  color: $color-secondary;
  margin: 0px;
}

.reason-description {
  color: $color-secondary;
  margin: 0px;
}
