#hero {
  width: 100%;
  height: 100%;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hero-title-mobile {
  width: 290px;
  height: 110px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
}

.hero-summary-mobile {
  width: 290px;
  height: 21px;
  color: $color-primary;
  margin-left: 15px;
  margin-right: 15px;
}
