.Cover {
  width: 320px;
  height: 568px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Anonymous-Proxy {
  width: 290px;
  height: 110px;
}

.In-hac-habitasse-pla-Copy {
  width: 290px;
  height: 21px;
  color: $color-primary;
}
