.hero {
  width: 320px;
  height: 568px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title-mobile {
  width: 290px;
  height: 110px;
}

.hero-summary-mobile {
  width: 290px;
  height: 21px;
  color: $color-primary;
}
