.Anonymous-Proxy {
  font-family: $hero-title-font-family;
  font-size: $hero-title-font-size-s;
  line-height:$hero-title-line-height-s;
  font-weight: $hero-title-font-weight;
  color: $color-primary;
}

.In-hac-habitasse-pla-Copy {
  font-family: $hero-summary-font-family;
  font-size: $hero-summary-font-size-s;
  font-weight: $hero-summary-font-weight;
  color: $color-primary;
}

.Insomnia-Tips {
  font-family: $section-font-family;
  font-size: $section-category-font-size-m;
  font-weight: $section-category-font-weight;
  line-height: $section-category-line-height;
  color:$section-category-font-color;
}

.Looking-Through-A-Wi {
  font-family: $section-title-font-family;
  font-size: $section-title-font-size-m;
  font-weight: $section-title-font-weight;
  line-height: $section-title-line-height-s;
  color: $section-title-font-color;
}

.Donec-accumsan-null {
  font-family: $section-font-family;
  font-size: $section-description-font-size-s;
  font-weight: $section-description-font-weight;
  line-height: $section-description-line-height-s;
  color: $section-title-font-color;
}
