.Anonymous-Proxy {
  font-family: $hero-title-font-family;
  font-size: $hero-title-font-size-s;
  line-height:$hero-title-line-height-s;
  font-weight: $hero-title-font-weight;
  color: $color-primary;
}

.In-hac-habitasse-pla-Copy {
  font-family: $hero-summary-font-family;
  font-size: $hero-summary-font-size-s;
  font-weight: $hero-summary-font-weight;
  color: $color-primary;
}
