/*CLASES DE AYUDA*/

.txt-center {text-align: center;}
.txt-left {text-align: left;}
.uppercase {text-transform: uppercase;}
.bold {font-weight: bold;}
.light {font-weight: lighter;}

.menu-item-text {
  font-family: $menu-item-font-family;
  font-size: $menu-item-font-size-s;
  line-height: $menu-item-line-height;
  font-weight: $menu-item-font-weight;
  color:$menu-item-font-color;
}

.hero-title-mobile {
  font-family: $hero-title-font-family;
  font-size: $hero-title-font-size-s;
  line-height:$hero-title-line-height-s;
  font-weight: $hero-title-font-weight;
  color: $color-primary;
}

.hero-summary-mobile {
  font-family: $hero-summary-font-family;
  font-size: $hero-summary-font-size-s;
  font-weight: $hero-summary-font-weight;
  color: $color-primary;
}

.title-section-category {
  font-family: $section-font-family;
  font-size: $section-category-font-size-m;
  font-weight: $section-category-font-weight;
  line-height: $section-category-line-height;
  color:$section-category-font-color;
}

.section-title {
  font-family: $section-title-font-family;
  font-size: $section-title-font-size-m;
  font-weight: $section-title-font-weight;
  line-height: $section-title-line-height-s;
  color: $section-title-font-color;
}

.section-description {
  font-family: $section-font-family;
  font-size: $section-description-font-size-s;
  font-weight: $section-description-font-weight;
  line-height: $section-description-line-height-s;
  color: $section-description-font-color;
}

.reason-title-mobile {
  font-family: $reason-title-font-family;
  font-size: $reason-title-font-size;
  font-weight: $reason-title-font-weight;
  line-height: $reason-title-line-height;
  color: $reason-title-font-color;
}

.section-title-reason {
  font-family: $section-title-font-family;
  font-size: $section-title-font-size-m;
  font-weight: $section-title-font-weight;
  line-height: $section-title-line-height-s;
  color: $section-title-font-color;
}

.reason-description {
  font-family: $reason-description-font-family;
  font-size: $reason-description-font-size-s;
  font-weight: $reason-description-font-weight;
  line-height: $reason-description-line-height-s;
  color: $reason-description-font-color;
}

.button-text {
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  color: $button-font-color;
}

.button-text-reason {
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  color: $button-font-color-2;
}

.footer-text {
  font-family: $footer-font-family;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  line-height: $footer-line-height;
  color: $footer-font-color;
}
